$main-color: #ECD957;
$second-color: #CB8651;
$third-color: #5C5C5C;
$black: #232323;
$black2: #101010;
$white: #F4F4F4;
$lightgrey: #9f9f9f;
$darkgrey: #484848;

$main-gradient: linear-gradient(90deg, hsla(52, 80%, 63%, 1) 0%, hsla(38, 100%, 67%, 1) 100%);

$main-font: var(--main-font);
$second-font: var(--second-font);
$third-font: var(--third-font);

$xxl: 5.1rem;
$xl: 3.8rem;
$l: 2.8rem;
$m: 2.1rem;
$s: 1.6rem;
$xs: 1.2rem;
