@import "@/app/styles/variables.scss";

.horizontal_scroll {
   position: relative;
   height: 300vh;
   background-color: #727272;
   margin-bottom: 15rem;
   .horizontal_scroll_container {
      position: sticky;
      top: 0;
      height: 100vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      .content_wrapper {
         display: flex;
         gap: 5rem;
            div {
               height: 50rem;
               width: 60rem;
               background-color: $main-color;
            }
         
      }
   }
}
