@import "@/app/styles/variables.scss";

.sentence_works {
   margin-bottom: 10rem;
   padding-inline: 20rem;
   h2 {
      display: flex;
      flex-wrap: wrap;
      .word {
         padding: 1rem;
         &:nth-child(3) {
            &:hover {
               color: $main-color;
            }
         }
         span {
            font-size: 7rem;
            font-weight: 700;
            font-family: $main-font;
            cursor: default;
         }
      }
   }
}
