.skills {
   padding: 4rem;
   .skillsContainer {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;
      margin: 0 auto;
   }
}

@media (max-width: 512px) {
   .skills {
      .skillsContainer {
         grid-template-columns: 1fr;
      }
   }
}
