@import "@/app/styles/variables.scss";

.work_tile {
   position: relative;
   overflow: hidden;
   height: 40rem;
   cursor: pointer;
   transition: all 0.2s ease-out;
   .background_container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      filter: brightness(0.3);
      transition: all 0.1s ease-out;
      &:hover {
         filter: brightness(0.5);
      }

      .background {
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: -1;
      }
   }

   .logo_container {
      position: relative;
      width: auto;
      position: absolute;
      pointer-events: none;
      .logo {
         object-fit: contain;
         height: 10rem;
         width: 24rem;
      }
   }
   h2,
   p {
      position: absolute;
      bottom: 6%;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      width: 100%;
      text-align: end;
      padding-right: 3rem;
      pointer-events: none;
      user-select: all;
   }
   h2 {
      font-family: $second-font;
   }
}
