@import "@/app/styles/variables.scss";

.header {
   position: relative;
   width: 100%;
   height: 10vh;
   top: 0;
   z-index: 100;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 4rem;
   transition: all 0.2s ease-out;
   nav {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
         display: flex;
         align-items: center;
         gap: 1rem;
      }
   }
}
