@import "@/app/styles/variables.scss";

.works_hero {
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.works_content {
   ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      li:last-child {
         background-color: rgb(66, 66, 66);
         position: relative;
         overflow: hidden;
         height: 40rem;
         transition: all 0.2s ease-out;
         cursor: default;
      }
   }
}

.works_footer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-block: 10rem;
   p {
      font-size: 3rem;
      background-color: $third-color;
      padding: 8rem 10rem;
      border-radius: 5rem;
   }
}
