.works_hero {
   // height: 90vh;
}

.works_content {
   ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      li:last-child {
         background-color: rgb(66, 66, 66);
         position: relative;
         overflow: hidden;
         height: 40rem;
         transition: all 0.2s ease-out;
         cursor: default;
      }
   }
}
